section {
    margin: 150px auto;
}

.accordion, .pala , .isi, .contentBox {
    box-sizing: border-box;
    transition: 0.5s;
}

.contentBox {
    height: auto;
    
}

.accordion {
    display: flex;
    margin: auto;
    max-width: 800px;

    flex-direction: column;
    gap: 32px;
}

.pala h2 {
    display: inline-block;
    color: #24252a;
    text-align: left;
}

.pala {
    display: flex;
    background-color: #35e4d5;
    padding: 8px 16px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s;
}

/* .pala:hover {
    background-color: #18ac9f;
} */

.accordion .contentBox .isi {
    /* position: relative; */
    margin: auto;
    /* margin-top: 16px; */
    width: 90%;
    /* padding: 8px 16px; */

    height: 0px;

    border-left: solid 2px #35e4d5;
    overflow: hidden;

    transition: all 0.5s;
}

.isi p {
    padding: 8px 12px;
}

.accordion .contentBox.active .isi {
    height: auto;
    padding: 8px 0px;
    margin-top: 16px;
}

.down {
    transform: rotate(180deg);
}