{% extends 'story9/story9.html' %}
{% load static %}

{% block content %}

<section>
    {% include 'story9/messages.html' %}
    <div class="login">
        {% if request.user.username == '' %}
        <h1>Welcome, Anonymous</h1>
        {% else %}
        <h1>Welcome, {{ request.user }}</h1>
        {% endif %}

    </div>
</section>
{% endblock %}