{% extends 'story9/story9.html' %}
{% load static %}

{% block content %}

<section>
    {% include 'story9/messages.html' %}
    <div class="kotak">
        

        <h1>Login</h1>
        <form class="form" action="" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button class="button" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'story9:register' %}" class="heh">Sign Up</a></p>

    </div>
</section>
{% endblock %}