{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error'%}
        <div class="alert alert-{{ message.tags }} m-2" id="msg" role="msg">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }} m-2" id="msg" role="msg">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

