{% extends 'story9/story9.html' %}
{% load static %}

{% block content %}

<section>
    {% include 'story9/messages.html' %}
    <div class="kotak">
        <h1>Register</h1>
        <form class="form" action="" method="POST">
            {% csrf_token %}

            {{ form.username }}

            {{ form.email }}

            {{ form.password1 }}

            {{ form.password2 }}

            {% for error in form.password2.errors %}
                <p class="validation">{{ error }}</p>
            {% endfor %}
            <button class="button" type="submit">Sign Up</button>
        </form>
    </div>
</section>
{% endblock %}