{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adimas</title>
    <link rel="icon" href="/static/resource/A.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/story5.css">
    <link rel="stylesheet" href="/static/story9.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <nav>
        <div class="logo"><a href="{% url 'main:home' %}"><img src="{% static 'resource/ADIMAS.svg' %}" alt="logo"></a></div>
        <div class="menu_navbar">
            <div class="desktop">
                {% if request.user.username == '' %}
                <a href="{% url 'story9:login' %}">Login</a>
                {% else %}
                <a href="{% url 'story9:logout' %}">Logout</a>
                {% endif %}
                
            </div>
            <div class="mobile">
                <a class="burger-button"><img src="/static/resource/burger.svg" alt=""></a>
                <div class="burger-menu burger-hide" id="burger-menu">
                    {% if request.user.username == '' %}
                    <a href="{% url 'story9:login' %}">Login</a>
                    {% else %}
                    <a href="{% url 'story9:logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    {% block content %}

    {% endblock %}

    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove()
            }
        }, 3000)
    </script>
    <!-- <script src="/static/story8.js" defer></script> -->
</body>
</html>