{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adimas</title>
    <link rel="icon" href="/static/resource/A.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/story5.css">
    <link rel="stylesheet" href="/static/css/story7.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo"><a href="{% url 'main:home' %}"><img src="{% static 'resource/ADIMAS.svg' %}" alt="logo"></a></div>
        <div class="menu_navbar">
            <!-- <div class="desktop">
            </div>
            <div class="mobile">
                <a class="burger-button"><img src="/static/resource/burger.svg" alt=""></a>
                <div class="burger-menu burger-hide" id="burger-menu">
                </div>
            </div> -->
        </div>
    </nav>

    <section>
        <div class="accordion">
            <div class="contentBox">
                <div class="pala">
                    <h2 class="label" >Aktivitas Saat Ini</h2>
                    <div class="segitiga">
                        <img src="{% static 'asset/bleach.svg' %}" class="up" height="24px" alt="">
                        <img src="{% static 'asset/bleach.svg' %}" class="down" height="24px" alt="">
                    </div>
                    
                </div>
                <div class="isi">
                    <p>
                        Bermain tic tac toe <br>
                        Minum coklat panas <br>
                        Menonton TV <br>
                        Tidur 
                    </p>
                </div>
            </div>
            
            <div class="contentBox">
                <div class="pala"><h2 class="label">Organisasi</h2>
                    <div class="segitiga">
                        <img src="{% static 'asset/bleach.svg' %}" class="up" height="24px" alt="">
                        <img src="{% static 'asset/bleach.svg' %}" class="down" height="24px" alt="">
                    </div>
                </div>
                <div class="isi">
                    <p>
                        Dewan Perwakilan Mahasiswa <br>
                        Unit Kegiatan Fakultas Teater <br>
                    </p>
                </div>
            </div>

            <div class="contentBox">
                <div class="pala">
                    <h2 class="label">Kepanitiaan</h2>
                    <div class="segitiga">
                        <img src="{% static 'asset/bleach.svg' %}" class="up" height="24px" alt="">
                        <img src="{% static 'asset/bleach.svg' %}" class="down" height="24px" alt="">
                    </div>
                </div>
                <div class="isi">
                    <p>
                        COMPFEST <br>
                        Wisuda Ganjil <br>
                        Sekolah BEM Fasilkom Seni Budaya <br>
                    </p>
                </div>
            </div>

            <div class="contentBox">
                <div class="pala">
                    <h2 class="label">Prestasi</h2>
                    <div class="segitiga">
                        <img src="{% static 'asset/bleach.svg' %}" class="up" height="24px" alt="">
                        <img src="{% static 'asset/bleach.svg' %}" class="down" height="24px" alt="">
                    </div>
                </div>
                <div class="isi">
                    <p>
                        Menjadi Asisten Dosen DDP1 2020 <br>
                        Masih bertahan di Fasilkom :) <br>
                        Best staff Media DMP <br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- <script src="/static/script/main.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/script/story7.js" defer></script>
</body>
</html>