{% extends 'story6/baseStory6.html' %}
{% load static %}

{% block content %}

<section>
    {% if kegiatans %}
    <!-- Daftar Kegiatan -->
    {% for kegiatan in kegiatans %}
        <div class="kegiatan-card">
            <h2>{{ kegiatan.kegiatan }}</h2>
            
            <!-- Daftar Nama Peserta -->
            <p>Peserta: </p>
            {% if kegiatan.peserta.all|length > 0 %}
            {% for nama in kegiatan.peserta.all %}
                <div class="nama-peserta"><p>{{ nama }}</p></div>
            {% endfor %}

            {% else %}
                <div class="nama-peserta"><p>--Tidak ada peserta--</p></div>
            {% endif %}
            
            <!-- Form daftar peserta kegiatan -->
            <div class="">
                <form class="tambah-peserta" action="{% url 'story6:add' kegiatan.id %}" method="POST">
                    {% csrf_token %}
                    {{ form_peserta.anggota }}
            
                    <a ><button type="submit" class="button">Tambah Peserta</button></a>
                </form>
            </div>
        </div>
    {% endfor %}
    {% endif %}

</section>

{% endblock %}