{% extends 'story6/baseStory6.html' %}
{% load static %}

{% block content %}

<section>
    <!-- Daftar Kegiatan -->
    <div class="kegiatan-card">
        <h2>Tambah Kegiatan Baru</h2>
    
        <!-- Form daftar peserta kegiatan -->
        <div class="">
            <form class="tambah-peserta" action="" method="POST">
                {% csrf_token %}
                {{ form_kegiatan.kegiatan }}
        
                <a ><button type="submit" class="button">Tambah Kegiatan</button></a>
            </form>
        </div>
    </div>

</section>

{% endblock %}