html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #24252A;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  background-color: #36E4D5;
  padding: 8px 24px;
  border-radius: 10000px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #25968c;
}

body {
  background-color: #24252A;
  padding: 0px 10vmax;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.hide {
  display: none;
}

.mobile {
  display: none;
}

nav {
  position: fixed;
  top: 0px;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1d1d1f;
  padding: 0 8%;
  /* background: #24252a9a; */
  z-index: 99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .desktop a {
  font-size: 20px;
  font-weight: 500px;
  margin-left: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .desktop a:hover {
  color: #36E4D5;
}

h3 {
  color: #36E4D5;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 45px;
}

h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 96px;
  color: #FFFFFF;
}

h2 {
  color: #36E4D5;
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 48px;
}

p {
  color: #dedede;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 27px;
  text-align: justify;
}

footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100vw;
  height: 150px;
  background-color: #1d1d1f;
}

footer p {
  text-align: center;
}

main .overlay {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 25rem;
  opacity: .03;
  pointer-events: none;
}

main .overlay-2 {
  position: absolute;
  top: -70px;
  right: -100px;
  z-index: -99;
}

main .overlay-1 {
  position: absolute;
  top: 300px;
  left: -70px;
  z-index: -99;
}

main section {
  padding-top: 180px;
}

main .section-1 {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

main .section-1 .kiri {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main .section-1 .kiri img {
  margin-top: 30px;
}

main .section-1 .foto-profile {
  width: 19em;
  border-radius: 10px;
}

main .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-2 h2 {
  padding-bottom: 18px;
}

main .section-2 .about-me {
  min-width: 300px;
  padding-right: 60px;
}

main .section-2 .skills {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 60px;
  border-left: 1px solid #36E4D5;
}

main .section-2 .skills .skill {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main .section-2 .skills .skill img {
  width: 5.5em;
}

main .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .sosmed h2 {
  padding-bottom: 16px;
}

main .butsosmed {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin-top: 0.5em;
  margin-right: 20px;
  color: white;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border-radius: 100px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .butsosmed:hover {
  width: auto;
  padding: 8px 24px;
}

main .butsosmed:hover :nth-child(1) {
  margin-right: 8px;
}

main .email {
  background-color: #D7493F;
}

main .wa {
  background-color: #25D366;
}

main .line {
  background-color: #00B900;
}

main .ig {
  background-color: #DB2F69;
}

.section-3 h2 {
  margin-top: 32px;
}

.title {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link {
  margin: 2rem auto 3rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.poster {
  display: -ms-grid;
  display: grid;
  margin-top: 1.5em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5em;
}

.poster img {
  width: 100%;
  margin-bottom: 1.5em;
}

.website {
  margin-top: 1.5em;
  width: 100%;
}

.website img {
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 5px;
}

.galeri {
  margin-top: 8em;
}

.selector {
  margin: 4em 0;
  padding: 0 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pencet {
  display: inline;
  color: #dedede;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pencet:hover {
  color: #36E4D5;
}

.burger-menu {
  background-color: #1d1d1f;
  margin-top: 60px;
  margin-right: 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 60px);
  width: 100vw;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu :nth-child(1) {
  margin-top: -10vmax;
}

.burger-menu a {
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 500;
}

.burger-hide {
  position: absolute;
  left: 100%;
}

@media (max-width: 1165px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 950px) {
  body {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .overlay {
    display: none;
  }
  nav {
    padding: 0px 2.5em;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  nav {
    height: 60px;
    padding: 0 1.5em;
  }
  body {
    max-width: 500px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    font-size: 2.9rem;
    line-height: 4rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 24px;
  }
  h2 {
    font-size: 2rem;
    line-height: 24px;
    font-weight: 500;
  }
  p {
    line-height: 1.8rem;
  }
  main section {
    padding-top: 5rem;
  }
  main .section-1 .kiri {
    margin-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .section-1 .kiri h1 {
    margin-top: 0.5em;
  }
  main .section-1 .kanan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section-2 .about-me {
    padding: 0;
  }
  main .section-2 .about-me .sosmed {
    margin: 1em auto;
  }
  main .section-2 .skills {
    margin-top: 3rem;
    padding: 0;
    border: none;
  }
  main .section-2 .skills .skill {
    margin: auto;
    max-width: 300px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  main .section-3 .galeri-type {
    margin-top: 2.5em;
  }
  main .section-3 .poster {
    display: block;
    gap: 8px;
  }
  main .section-3 .link {
    margin: 1em auto;
  }
  .selector {
    padding: 0;
  }
  .poster {
    display: inline;
    gap: 8px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */