$background : #24252A;
$background2 : #1d1d1f;
$stabilo : #36E4D5;
$secondary : #dedede;

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
}

button{
    border: none;
}


.button{
    box-sizing: border-box;
    color: $background;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    background-color: $stabilo;
    padding: 8px 24px;
    border-radius: 10000px;

    transition: 0.3s;
}

.button:hover{
    background-color: #25968c;
}

body{
    background-color: $background;
    padding: 0px 10vmax;
    max-width: 1200px;
    margin : 0 auto;
    overflow-x: hidden;
}

.hide{
    display: none;
}

.mobile{
    display: none;
}

nav{
    position: fixed;
    top: 0px;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #1d1d1f;
    padding: 0 8%;
    /* background: #24252a9a; */
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    
    

    .desktop{


        a {
            font-size: 20px;
            font-weight: 500px;
            margin-left: 40px;
            transition: 0.3s;
        }
        a:hover{
            color: $stabilo;
        }
        
    }
}

h3{
    color: $stabilo;

    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 45px;
}

h1{
    font-family: Kanit;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 96px;

    color: #FFFFFF;
}

h2{
    color: $stabilo;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
}

p{
    color: $secondary;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 27px;
    text-align: justify;
}

footer{
    position: absolute;
    display: flex;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 150px;
    background-color: $background2;

    p{
        text-align: center;
    }
}

main{

    .overlay{
        font-family: Kanit;
        font-style: normal;
        font-weight: bold;
        font-size: 25rem;
        opacity: .03;

        pointer-events: none;

    }

    .overlay-2{
        position: absolute;
        top: -70px;
        right: -100px;
        z-index: -99;
    }

    .overlay-1{
        position: absolute;
        top: 300px;
        left: -70px;
        z-index: -99;
    }

    section{
        padding-top: 180px;
    }

    .section-1{
        margin-top: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;

        .kiri{
            flex-shrink: 0;

            img{
                margin-top: 30px;;
            }
        }

        .foto-profile{
            width: 19em;
            border-radius: 10px;
        }
    }

    .section-2{
        display: flex;
        
        h2{
            padding-bottom: 18px;
        }
        .about-me{
            min-width: 300px;
            padding-right: 60px;
        }

        .skills{
            box-sizing: border-box;
            padding-left: 60px;
            border-left:  1px solid $stabilo;

            .skill{
                display: grid;
                gap: 1em;
                grid-template-columns: repeat(3, 1fr);

                img{
                    width: 5.5em;
                }

            }
        }
    }   
    
    .sosmed{
        display: flex;
        margin-top: 24px;
        width: fit-content;

        h2{
            padding-bottom: 16px;
        }
    }
    
    .butsosmed{
        box-sizing: border-box;
        width: fit-content;
        height: 40px;
        margin-top: 0.5em;
        margin-right: 20px;    
        color: white;
        font-family: Kanit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 40px;
        // width: 40px;
        padding: 8px;
        border-radius: 100px;
        transition: 0.5s ease;
    }
    
    .butsosmed:hover{
        width: auto;
        padding: 8px 24px;
        
        :nth-child(1){
            margin-right: 8px;
        }
    }
    
    .email{
        background-color: #D7493F;
    }
    .wa{
        background-color: #25D366;
    }
    .line{
        background-color: #00B900;
    }
    .ig{
        background-color: #DB2F69;
    }
}

.section-3{
    
    h2{
        margin-top: 32px;
    }
    
}
.title{
    margin: auto;
    width: fit-content;
}
.link{
    margin: 2rem auto 3rem auto;
    width: fit-content;
}
    
.poster{
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;

    img{
        width: 100%;
        margin-bottom: 1.5em;
    }
}

.website{
    margin-top: 1.5em;
    
    
    width: 100%;

    img{
        width: 100%;
        margin-bottom: 1.5em;
        border-radius: 5px;
    }
}

.galeri{
    margin-top: 8em;
}

.selector{
    margin: 4em 0;
    padding: 0 15em;
    display: flex;
    justify-content: space-around;
    
}

.pencet{
    display: inline;
    color: $secondary;
    transition: 0.3s;
}
.pencet:hover{
    color: $stabilo;
}

.burger-menu{
    background-color: $background2;
    margin-top: 60px;
    margin-right: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
    top: 0;
    left: 0;
    transition: 0.5s;

    :nth-child(1){
        margin-top: -10vmax;
    }
    a{
        margin-bottom: 2em;
        font-size: 3rem;
        font-weight: 500;
    }
}

.burger-hide{
    // display: none;
    position: absolute;
    left: 100%;
}
// +++++++++++++++++++++++++++++++++++++++++++++++++


@media (max-width: 1165px) {
    html{
        font-size: 13px;
    }
}

@media (max-width: 950px) {
    // html{
    //     font-size: 12px;
    // }

    body{
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .overlay{
        display: none;
    }

    nav{
        padding: 0px 2.5em;
    }
}

@media only screen and (max-width: 800px){
    html{
        font-size: 12px;
    }

    nav{
        height: 60px;
        padding: 0 1.5em;
    }

    body{
        max-width: 500px;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    h1{
        font-size: 2.9rem;
        line-height: 4rem;
        font-weight: 600;
    }

    h3{
        font-size: 1.5rem;
        line-height: 24px;
    }

    h2{
        font-size: 2rem;
        line-height: 24px;
        font-weight: 500;
    }

    p{  
        line-height: 1.8rem;
    }

    main{
        section{
            padding-top: 5rem;
        }

        .section-1{
            .kiri{
                margin-top: 2em;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                h1{
                    margin-top: 0.5em;
                }
            }

            .kanan{
                display: flex;
                width: 100%;
                justify-content: center;
                
            }
        }

        .section-2{
            flex-direction: column;

            .about-me{
                padding: 0;

                .sosmed{
                    margin: 1em auto;
                }
            }

            .skills{
                margin-top: 3rem;
                padding: 0;
                border: none;

                .skill{
                    margin: auto;
                    max-width: 300px;
                    justify-items: center;
                    align-items: center;
                    gap: 1em;
                }
            }
        }

        .section-3{
            .galeri-type{
                margin-top: 2.5em;
            }

            .poster{
                display: block;
                gap: 8px;
            }

            .link{
                margin: 1em auto;
            }
        }

        
    }
    .selector{
        padding: 0;
    }

    .poster{
        display: inline;
        gap: 8px;
    }
}