{% extends 'story4/baseStory4.html' %}
{% load static %}

    
{% block content %}
    <main>
        <div class="destop">
            <div class="overlay">
                <div class="overlay-1">FRONTEND</div>
                <div class="overlay-2">UI/UX</div>
            </div>
        </div>

        <section class="section-1">
            <div class="kiri">
                <h3>Hi, I'm Adimas Putra Pratama Hendrata</h3>
                <h1>UI/UX Designer and<br>Graphic Designer</h1>
                <img id="about-me" src="/static/resource/kotak5.svg" alt="">
            </div>
            <div class="kanan">
                <img class="foto-profile" src="/static/resource/profpic.jpg" alt="">
            </div>
        </section>

        <section class="section-2">
            <div class="about-me">
                <h2>About Me.</h2>
                <p>
                    Saya adalah seorang Graphic Designer dan juga UI/UX Designer, sekarang saya sedang kuliah di Universitas Indonesia jurusan Sistem Informasi. Saya telah belajar mendesain sejak awal SMA. Awal mula perjalanan saya dalam belajar desain saat membuat poster. Saat ini saya sedang belajar menjadi Frontend Developer untuk menjadi Fullstack Developer Saya adalah orang yang supel dan mudah bergaul dengan orang lain. Sangat ambisius dan bertanggung jawab dalam mengerjakan sesuatu yang telah dimulai. 
                </p>
                <div class="sosmed">
                    <!-- <h2>Contact.</h2> -->
                    <a href="http://line.me/ti/p/~adimas11" class="butsosmed line">
                        <img src="/static/resource/asset/line.svg" alt="">
                        <div class="hide">@adimas11</div>
                    </a>
                    <a href="https://www.instagram.com/adimaspph" class="butsosmed ig">
                        <img src="/static/resource/asset/instagram.svg" alt="">
                        <div class="hide">@adimaspph</div>
                    </a>
                    <a href="https://wa.me/081519327044" class="butsosmed wa">
                        <img src="/static/resource/asset/whatsapp.svg" alt="">
                        <div class="hide">081519327044</div>
                    </a>
                    <a href="mailto:adimas.putra@ui.ac.id" class="butsosmed email">
                        <img src="/static/resource/asset/email 2.svg" alt="">
                        <div class="hide">adimas.putra@ui.ac.id</div>
                    </a>
                    
                </div>
            </div>
            <div class="skills">
                <h2>Skills.</h2>
                <div class="skill">
                    <img src="/static/resource/figma.png" alt="">
                    <img src="/static/resource/html.png" alt="">
                    <img src="/static/resource/css.png" alt="">
                    <img src="/static/resource/ps.png" alt="">
                    <img src="/static/resource/ai.png" alt="">
                    <img src="/static/resource/pr.png" alt="">
                </div>
            </div>
        </section>
        
        <section class="section-3">
            <div class="title">
                <H1>My Project</H1>
            </div>
            <h2 class="galeri-type">Project Poster.</h2>
            <div class="poster">
                <div class="col1"> 
                    <img src="/static/resource/Gallery/1.jpg" alt="">                        
                </div>

                <div class="col2">
                    <img src="/static/resource/Gallery/2.jpg" alt="">
                </div>

                <div class="col3">
                    <img src="/static/resource/Gallery/3.jpg" alt="">
                </div>
            </div>
            <div class="link">
                <a href="{% url 'story4:poster' %}" class="button">Explore My Poster Project</a>
            </div>

            <h2 class="galeri-type">Project Website.</h2>
            <div class="website">
                <img src="/static/resource/Gallery/WebOH.jpg" alt="">
                <img src="/static/resource/Gallery/web1.png" alt="">
            </div>
            
            <div class="link">
                <a href="{% url 'story4:website' %}" class="button">Explore My Website Project</a>
            </div>
        </section>
    </main>

{% endblock %}
