{% load static %}

<nav>
    <div class="logo"><a href="{% url 'main:home' %}"><img src="{% static 'resource/ADIMAS.svg' %}" alt="logo"></a></div>
    <div class="menu_navbar">
        <div class="desktop">
            <a href="{% url 'story4:home' %}">Home</a>
            <a href="{% url 'story4:poster' %}">My Poster</a>
            <a href="{% url 'story4:website' %}">My Website</a>
        </div>
        <div class="mobile">
            <a class="burger-button"><img src="/static/resource/burger.svg" alt=""></a>
            <div class="burger-menu burger-hide" id="burger-menu">
                <a href="{% url 'story4:home' %}">Home</a>
                <a href="{% url 'story4:poster' %}">My Poster</a>
                <a href="{% url 'story4:website' %}">My Website</a>
            </div>
        </div>
    </div>
</nav>
