{% extends 'story4/baseStory4.html' %}
{% load static %}

{% block content %}
<div class="galeri">
    <div class="title">
        <h1>My Project</h1>
    </div>
    <div class="selector">
        <h2 style="text-decoration: underline">Poster</h2>
        <a href="{% url 'story4:website' %}"><h2 class="pencet">Website</h2></a>
    </div>
    <div class="poster">
        <div class="col1"> 
            <img src="/static/resource/Gallery/1.jpg" alt="">                        
            <img src="/static/resource/Gallery/4.jpg" alt="">
            <img src="/static/resource/Gallery/6.jpg" alt="">
            <img src="/static/resource/Gallery/7.jpg" alt="">
            <img src="/static/resource/Gallery/14.jpg" alt="">
            <img src="/static/resource/Gallery/18.jpg" alt="">
            <img src="/static/resource/Gallery/19.jpg" alt="">
        </div>

        <div class="col2">
            <img src="/static/resource/Gallery/2.jpg" alt="">
            <img src="/static/resource/Gallery/16.jpg" alt="">
            <img src="/static/resource/Gallery/8.jpg" alt="">
            <img src="/static/resource/Gallery/11.jpg" alt="">
            <img src="/static/resource/Gallery/15.jpg" alt="">
        </div>

        <div class="col3">
            <img src="/static/resource/Gallery/3.jpg" alt="">
            <img src="/static/resource/Gallery/5.jpg" alt="">
            <img src="/static/resource/Gallery/12.jpg" alt="">
            <img src="/static/resource/Gallery/13.jpg" alt="">
            <img src="/static/resource/Gallery/17.jpg" alt="">
            <img src="/static/resource/Gallery/20.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}