{% extends 'story4/baseStory4.html' %}
{% load static %}

{% block content %}

<div class="galeri">
    <div class="title">
        <h1>My Project</h1>
    </div>
    
    <div class="selector">
        <a href="{% url 'story4:poster' %}"><h2  class="pencet">Poster</h2></a>
        </a><h2 style="text-decoration: underline">Website</h2>
    </div>

    <div class="website">
        <img src="/static/resource/Gallery/WebOH.jpg" alt="">
        <img src="/static/resource/Gallery/web1.png" alt="">
    </div>
    
</div>

{% endblock %}