{% extends 'story5/baseStory5.html' %}
{% load static %}
{% block content %}

<section>
    <h1>Menambah Matkul</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table class="input-form" >
            <tr>
                <th><label for="">Nama Mata Kuliah:</label></th>
                <th>{{ form_matkul.nama_matkul }}</th>
            </tr>
            <tr>
                <th><label for="">Nama Dosen:</label></th>
                <th>{{ form_matkul.dosen }}</th>
            </tr>
            <tr>
                <th><label for="">Jumlah SKS:</label></th>
                <th>{{ form_matkul.sks }}</th>
            </tr>
            <tr>
                <th><label for="">Tahun:</label></th>
                <th>{{ form_matkul.tahun }}</th>
            </tr>
            <tr>
                <th><label for="">Deskripsi:</label></th>
                <th>{{ form_matkul.deskripsi }}</th>
            </tr>
            <tr>
                <th><label for="">Ruang</label></th>
                <th>{{ form_matkul.ruang }}</th>
            </tr>
            <tr>
                <th></th>
                <th><button type="submit" class="button">Tambah Matkul</button></th>
            </tr>
        </table>
        
    </form>
</section>


{% endblock %}