{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adimas</title>
    <link rel="icon" href="/static/resource/A.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/story5.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo"><a href="{% url 'main:home' %}"><img src="{% static 'resource/ADIMAS.svg' %}" alt="logo"></a></div>
        <div class="menu_navbar">
            <div class="desktop">
                <a href="{% url 'story5:home' %}">List Matkul</a>
                <a href="{% url 'story5:add' %}">Add Matkul</a>
            </div>
            <div class="mobile">
                <a class="burger-button"><img src="/static/resource/burger.svg" alt=""></a>
                <div class="burger-menu burger-hide" id="burger-menu">
                    <a href="{% url 'story4:home' %}">Home</a>
                    <a href="{% url 'story4:poster' %}">My Poster</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- <footer>
        <p>Copyright ©2020 All rights reserved<br>This website is made by Adimas Putra Pratama Hendrata</p>
    </footer> -->
    <script src="/static/script/main.js"></script>
</body>
</html>