{% extends 'story5/baseStory5.html' %}
{% load static %}

{% block content %}

<section>
    <div>
        <a href="{% url 'story5:home' %}"><button class="button" type="submit">Back</button></a>
        <h1>Detail {{ obj.nama_matkul }}</h1>
    </div>

    {% if obj %}
    <table>
        <tr>
            <th><b>Nama Mata Kuliah</b></th>
            <th><b>Dosen Pengajar</b></th>
            <th><b>SKS</b></th>
            <th><b>Semester Tahun</b></th>
            <th><b>Deskripsi</b></th>
            <th><b>Ruang Kelas</b></th>
        </tr>
        <tr>
            <th>{{ obj.nama_matkul }}</th>
            <th>{{ obj.dosen }}</th>
            <th>{{ obj.sks }}</th>
            <th>{{ obj.tahun }}</th>
            <th>{{ obj.deskripsi }}</th>
            <th>{{ obj.ruang }}</th>
        </tr>
    </table>
    {% endif %}
</section>

{% endblock %}