{% extends 'story5/baseStory5.html' %}
{% load static %}


{% block content %}

<section>
    <h1>Mata KuliahKu</h1>

    
    {% if matkuls %}
    <table>
        <tr>
            <th><b>Nama Mata Kuliah</b></th>
            <th><b>Deskripsi</b></th>
            <th></th>
            <th></th>
        </tr>
        {% for matkul in matkuls %}
        <tr>
            <th>{{ matkul.nama_matkul }}</th>
            <th>{{ matkul.deskripsi }}</th>
            <th><a href="{% url 'story5:detail' my_id=matkul.id %}"><button class="button" type="submit">Detail</button></a></th>
            <th><a href="{% url 'story5:delete' my_id=matkul.id %}"><button class="button" type="submit">Delete</button></a></th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
        
</section>


{% endblock %}