{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adimas</title>
    <link rel="icon" href="/static/resource/A.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/story5.css">
    <link rel="stylesheet" href="/static/story8.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <nav>
        <div class="logo"><a href="{% url 'main:home' %}"><img src="{% static 'resource/ADIMAS.svg' %}" alt="logo"></a></div>
        <div class="menu_navbar">
            <!-- <div class="desktop">
            </div>
            <div class="mobile">
                <a class="burger-button"><img src="/static/resource/burger.svg" alt=""></a>
                <div class="burger-menu burger-hide" id="burger-menu">
                </div>
            </div> -->
        </div>
    </nav>

    <section>
        <h1>Search Book</h1>
        <div class="search">
            <input type="text" name="" id="searchbar">
        </div>

        <div class="resultBox" id="resultBox">
            <!-- <div class="resultCard">
                <img src="http://books.google.com/books/content?id=A1QVAAAAQAAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
                <h4>Judul</h4>
                <p>author</p>
            </div> -->
        </div>
    </section>

    
    <script src="/static/story8.js" defer></script>
</body>
</html>