#searchbar {
    margin-top: 34px;
    width: 70%;
}

.search {
    display: flex;
    justify-content: center;
}

.resultBox {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    
    gap: 24px;
}

.resultCard {
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    width: 290px;
    border: 1px solid #35e4d5;
}

.resultCard img {
    width: 100%
}

.resultCard h4 {
    margin-top: 14px;
    color: #35e4d5;
    text-align: center;
}

.resultCard p {
    margin-top: 14px;
    text-align: center;
}