.kotak {
    margin: auto;
    margin-top: 16px;
    display: flex;
    border: 1px solid #35e4d5;
    border-radius: 10px;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.heh {
    color: #35e4d5;
    transition: 0.3s;
}

.heh:hover {
    color: #0e6e66;
}