{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
{% endblock meta %}


{% block content %}
<section class="welcome">
    <h1>Welcome to Adimas PPW Story</h1>
</section>

<section class="home-base">
    <div class="pilih">
        <a class="button" href="{% url 'story1:home' %}">Story 1</a>
    </div>

    <div class="pilih">
        <a class="button" href="https://www.figma.com/file/dgiN2gWUAYtbkkv7Oqkt7q/PPW-Story-2?node-id=1%3A148">Story
            2</a>
    </div>
    <div class="pilih">
        <a class="button" href="{% url 'story4:home' %}">Story 4</a>
    </div>

    <div class="pilih">
        <a class="button" href="{% url 'story5:home' %}">Story 5</a>
    </div>

    <div class="pilih">
        <a class="button" href="{% url 'story6:home' %}">Story 6</a>
    </div>

    <div class="pilih">
        <a class="button" href="{% url 'story7:home' %}">Story 7</a>
    </div>

    <div class="pilih">
        <a class="button" href="{% url 'story8:home' %}">Story 8</a>
    </div>

    <div class="pilih">
        <a class="button" href="{% url 'story9:home' %}">Story 9</a>
    </div>
</section>
{% endblock %}