.pilih{
    display: flex;
    height: 5em;
    width: 10em;
    min-width: 3em;

    justify-content: center;
    align-items: center;
}

.home-base{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome{
    margin-top: 8em;
}

.welcome h1{ 
    text-align: center;
}