section{
    margin-top: 100px;
}

h1{
    text-align: center;
}

.table-matkul{
    margin: auto;
    font-size: 1.1rem;
}

table{
    font-weight: 300;
    margin: auto;
    border-spacing: 32px;
    overflow: scroll;
}

table tr th{
    font-weight: 300;
}

/* .table-matkul tr th{
    text-align: left;
} */

.logo-delete{
    height: 1.5rem;
    cursor: pointer;
}

button{
    cursor: pointer;
    border: none;
}

input, textarea{
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    color: black;
}


.input-form{
    margin: auto;
    
    text-align: left;
}

label {
    font-weight: 400;
}